/* Write your CSS here */

.suggestionItem {
  color: #64748b;
  font-size: 15px;
  font-family: 'Roboto';
}

.arrowLogo {
  height: 38px;
  width: 38px;
  padding: 5px;
}

.list-item {
  margin: 2px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
}
